* {
    
    @nav-width: 192px;
    @header-height: 64px;
    @hide-animation: left 0.6s ease-in-out,  width 0.6s ease-in-out;
    
    .short-menu {
        #navContent {
            left: 1px;
            width: 100%;
        }
        #navSideMenu {
            left: (@nav-width - 1) * -1;
        }
    }
    
    #navContent {
        overflow: auto;
        position: fixed;
        .transition( @hide-animation );
        left: @nav-width;
        top: @header-height;
        width: ~'calc(100% - '@nav-width ~')';
        height: ~'calc(100% - '@header-height~')';
        .nav-content-inner {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: relative;
            // border-right: 1px solid #010101;
            // .box-shadow ( inset -2px 0px 2px rgba(0, 0, 0, 0.3) );
        }
    }

    #navSideMenu {
        overflow: auto;
        position: fixed;
        left: 0;
        top: @header-height;
        .transition( @hide-animation );
        
        width: @nav-width;
        height: ~'calc(100% - '@header-height~')';
        
        // background-color: #001425;
        // .horizontal-gradient (#394353, #1d2737, -80%, 100% );
        
        .nav-side-menu-inner {
            // color: #fff;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: relative;
            // border-right: 1px solid #010101;
            // .box-shadow ( inset -2px 0px 2px rgba(0, 0, 0, 0.3) );  
            // background-color: #5E35B1;
            // background: transparent url(../images/pattern.png) repeat;
        }
        
    //     .nav-menu {
    //         
    //         .menu-head {
    //             height: 43px;
    //             width: 100%;
    //             border-bottom: 1px solid #1c2837;
    //             .tab {
    //                 color: #fff;
    //                 width: 33.6%;
    //                 height: 100%;
    //                 border: 0;
    //                 .border-radius(0);
    //                 background: transparent;
    //                 border-left: 1px solid #1c2837;
    //                 border-right: 1px solid #1c2837;
    //                 .text-shadow( 0px -1px 0px rgba(0, 0, 0, 1) );
    //                 .vertical-gradient (#3b4a5f, #334053, 0%, 100% );
    //                 .box-shadow( inset 0px 0px 20px 1px rgba(255, 255, 255, 0.1) );
    //                 &:hover {
    //                     color: #00b4ff;
    //                     .box-shadow( inset 0px 0px 15px 2px rgba(255, 255, 255, 0.2) );
    //                 }
    //                 &:active, &.active {
    //                     color: #fff;
    //                     .vertical-gradient (#1d2837, #334053, 0%, 100% );
    //                     .box-shadow( inset 0px 0px 5px 1px rgba(0, 0, 0, 0.4) );
    //                 }
    //                 &:disabled, &.disabled {
    //                     color: #999;
    //                     cursor: no-drop;
    //                     .vertical-gradient (#3b4a5f, #333, 0%, 100% );
    //                     .box-shadow( inset 0px 0px 20px 1px rgba(255, 255, 255, 0.1) );
    //                 }
    //                 &:first-child { border-left: 0; }
    //                 &:last-child { border-right: 0; }
    //             }
    //         }
    //         
    //         .list-group-item {
    //             margin: 0px;
    //             .border-radius(0);
    //             background-color: transparent;
    //             border: none;
    //             border-bottom: 1px solid #1c2837;
    //             color: #fff;
    //             .transition( all .3s ease );
    //             .text-shadow( 0px -1px 0px #000000 );
    //             .vertical-gradient (#394353, #333b4b, 0%, 100% );
    //             &:hover {
    //                 color: #00b4ff;
    //                 .vertical-gradient (#434d5e, #333b4b, 0%, 100% );
    //             }
    //             &:active, &.active {
    //                 .vertical-gradient (#2487c6, #005286, 0%, 100% );
    //             }
    //             &:disabled, &.disabled {
    //                 color: #999;
    //                 cursor: no-drop;
    //                 pointer-events: none;
    //                 .vertical-gradient (#333, #394353, 0%, 100% );
    //                 .box-shadow( inset 0px 0px 20px 1px rgba(255, 255, 255, 0.1) );
    //             }
    //         }
    //         
    //         .divider {
    //             padding: 3px 15px 0px;
    //             margin-top: -1px;
    //             border-top: 1px solid #1d2837;
    //             border-bottom: 1px solid #1d2837;
    //             color: #eee;
    //             font-size: 11px;
    //             text-transform: uppercase;
    //             .box-shadow( inset 0 1px 0 #4c5c71 );
    //             .text-shadow( 0px -1px 0px rgba(0, 0, 0, 1) );
    //             .vertical-gradient (#3b4a5f, #334053, 0%, 100% );
    //         }
    //     }
    }
}
