* {
    
    @nav-width: 174px;
    @header-height: 58px;
    @hide-animation: left 0.6s ease-in-out,  width 0.6s ease-in-out;
    
    .short-menu {
        #navContent {
            left: 1px;
            width: 100%;
        }
        #navSideMenu {
            left: (@nav-width - 1) * -1;
        }
    }
    
    #navContent {
        overflow: auto;
        position: fixed;
        .transition( @hide-animation );
        left: @nav-width;
        top: @header-height;
        width: ~'calc(100% - '@nav-width ~')';
        height: ~'calc(100% - '@header-height~')';
        .nav-content-inner {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: relative;
        }
    }

    #navSideMenu {
        overflow: auto;
        position: fixed;
        left: 0;
        top: @header-height;
        .transition( @hide-animation );
        width: @nav-width;
        height: ~'calc(100% - '@header-height~')';
        
        .nav-side-menu-inner {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: relative;
            .list-menu {
                padding-top: 9px;
                .menu-item {
                    a {
                        width: 100%;
                        height: 100%;
                        padding: 13px 22px;
                        font-size: 14px;
                        display: block;
                        position: relative;
                        text-decoration: none;
                        color: rgba(255,255,255,0.5);
                        vertical-align: middle;
                        &>*{ vertical-align: middle; }
                        &:after {
                            content: '';
                            height: 100%;
                            display: inline-block;
                            position: relative;
                            vertical-align: middle;
                        }
                        &:hover { color: rgba(255,255,255,0.7); }
                        &.active { color: #fff; }
                    }
                    hr {
                        margin: 0 24px 0;
                        border: 0;
                        border-top: 1px solid rgba(255,255,255,0.12);
                    }
                }
            }
        }
    }
}
